{% macro page_head(title, lead, created, namespace) %}
  {% import "dates.html.twig" as dates %}
  <h1 class="page-title">{{ title }}</h1>
  {% if created %}
    <div class="date-created">
      {{ dates.date_default(created) }}
    </div>
  {% endif %}
  {% if not lead is empty %}
    <p class="lead">{{ lead }}</p>
  {% endif %}
{% endmacro %}
