{% macro menu_item(link) %}
  {% if link.in_active_trail %}
    {% set classes = 'active-trail' %}
  {% endif %}
  {% if link.has_children %}
    {% set classes = classes ~ (link.expanded ? ' expanded' : ' collapsed') %}
  {% else %}
    {% set classes = classes ~ ' leaf' %}
  {% endif %}
  <li class="{{ classes|trim }}"><a href="{{ link.href }}">{{ link.title }}</a></li>
{% endmacro %}

{% macro menu(links, namespace) %}
{% endmacro %}
