.a-z {
	.menu {
		.list-unstyled();
		.clearfix();
		border-bottom: 1px solid #ccc;
		@media(min-width: @screen-sm-min) {

		}	
		li {
			text-transform: uppercase;
			float:left;
			margin-bottom: 20px;
			display: inline-block;
			@media(min-width: @screen-sm-min) {
			/*	width: 3.33%;*/
			}


			a {
				font-weight: bold;
				
				padding:9px;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
				&.disabled {
					opacity: .5;
				}
			}
			&:first-child {
				
				a {
					
				}
			}
		}

	}

	.alphabetic-list {
		float: left;
		min-width: 320px;
		max-width: 640px;
		@media (min-width: @screen-sm-min) {
			min-width: 640px;
		}

		.list-unstyled();
		.alphabetic-heading {
			text-transform: uppercase;
		}

		.alphabetic-letter-terms {
			.clearfix();
			.list-unstyled();
			border-bottom: 1px solid #ccc;
			margin-bottom: 20px;

			a[href^="http"] {
				&:after {
					content: " \f08e";
	    			font-family: FontAwesome;
				}
			}

			.back-to-top {
				float: right;
				font-size: .8em;
				padding:10px 0;
			}
		}
	}
}