

#footer-wrapper {
	background-color: @gray-dark;
	footer {
		.container();
		ul {
			.list-unstyled();
			li {
				padding-bottom: 10px;
			}
		}
		a {
			color: @white;
		}
		h3 {
			color: @white;
		}
		.links-to-guides {
			.make-xs-column(6);

		}
		.links-to-libraries {
			.make-xs-column(6);
			ul {
				.list-unstyled();
			}
		}
	}
}



.site-bottom-wrapper {
	background-color: @pure-black;

	.site-bottom {
		.container();

		font-size: @font-size-small;
		color: @white;
		a {
			color: @white;
		}
	}

}