.library {

	#ub-map-canvas {
		height: 250px;
	}
	.intro {
		.container();
		.wrap {
			.make-row();
			.ingress-wrapper {
				.make-sm-column(12);
			}
			.hero-image {
				.make-sm-column(6);
				img {
					width: 100%;
				}
			}
		}
	}
	.library-resources {
		.container();
		margin-top: 20px;
		color: @black;
		.wrap {
			background-color: @gray-lighter;
			padding-bottom: 20px;
		}
		header {
			padding-top: 20px;
			text-align: center;
		}

		main {
			table {
				.table();
				margin-bottom: 0;
			}
			tr {
				.fa-check {
					color: green;
				}
				.fa-times {
					color: red;
				}
				&:first-child {
					td{
						border-top: none;
					}	
				}
				td + td {
					text-align: center;
				}
			}
			padding-top: 20px;
			margin:0 auto;
			max-width: 580px;	
		}
	}

	.contact-library {
		.container();
		.wrap {
			overflow: hidden;
			header {
				z-index: 10;
				position: relative;
				text-align: center;
				padding: 20px 0;
				background: @black;
				color: @white;
				&:after {
					content: ' ';
					border: solid 9px transparent;
					border-top-color: @black;
					position: absolute;
					right: 50%;
					bottom: -17px;
				}
			}
			.contact-wrapper {
				.make-row();
				.adress {
					.make-sm-column(6);
				}
				.contact-form {
					.make-sm-column(6);
				}
			}
		}
	}
}