{# slate
  name = UBN Entityform: form success messages
  models[messages] = item
  cacheable = FALSE
#}
<ul class="ubn-form-messages-success list-unstyled">
{% for message in messages %}
  <li class="ubn-form-messages-success-message alert alert-dismissable alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="{{ t('Close') }}">
      <i class="fa fa-times"></i>
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="fa fa-check-circle"></i> {{ message|raw }}
  </li>
{% endfor %}
</ul>
