{# slate
  name = Library: Library Map
  models[map] = item
  models[libraries] = item
#}
<div class="container fullwidth-on-xs rs_preserve">
<div class="library-map">
    {{ map | raw }}
</div>
</div>
