.main-cms {
	#terms-search-controls {
		input {
			height: 48px;
	      	border-radius: @border-radius-base 0 0 @border-radius-base;
	      	background: @gray-lighter;
		}
		button {
			border-radius: 0 5px 5px 0;
		}
	}

	#terms-groups {
		.terms-groups-group {
			height: 40px;
			font-size: 1.375em;
			text-align: justify;
			.terms-groups-group-item {
				display: inline-block;
			}
			a {
				text-decoration: none;
			}
			.term-groups-group-item-disabled {
				color: @gray-light;
			}
			&:after {
			  content: '';
			  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
			  display: inline-block;
			}
		}
	}



	#terms-search-results {
		.term-group {
			h2 {
				border-bottom: 1px solid @gray-light;
				margin-bottom: 20px;
			}
		}
		.term-group-terms {
			.term {
				font-size: 1.125em;
				margin-bottom: 20px;
			}
			.term-description {
				> div {
					padding-top: 5px;
					padding-bottom: 50px;
				}
				
			}
			.term-collapsible {
				p {
					margin-bottom: 0;
				}
				.term-name {
					padding-right: 20px;
				}
				.fa {
					margin-left: -20px;
					font-size: 0.75em;
					pointer-events: none;
				}
			}
		}
	}
}
