.main-cms {
	.a-z {
		.menu {
			.clearfix();
			border-bottom: 1px solid #ccc;
			@media(min-width: @screen-sm-min) {

			}	
			li {
				text-transform: uppercase;
				float:left;
				margin-bottom: 20px;
				display: inline-block;

				a {
					font-weight: bold;
					
					padding:9px 20px 9px 0;

					text-decoration: none;
					&:hover {
						text-decoration: underline;
						&.disabled {
							text-decoration: none;
						}
					}
					&.disabled {
						opacity: .5;

					}
				}
				&:last-child {
					
					a {
						padding-right: 0;
					}
				}
			}

		}

		.alphabetic-list {
			float: left;
			width: 100%;
			max-width: 640px;
			@media (min-width: @screen-sm-min) {
				min-width: 640px;
			}

			.alphabetic-heading {
				text-transform: uppercase;
			}

			.alphabetic-letter-terms {
				.clearfix();
				border-bottom: 1px solid #ccc;
				margin-bottom: 20px;


				.back-to-top {
					float: right;
					font-size: .8em;
					padding:10px 0;
				}
			}
		}
	}

	#terms-search-controls {
		input {
			height: 48px;
	      	border-radius: @border-radius-base 0 0 @border-radius-base;
	      	background: @gray-lighter;
		}
		button {
			border-radius: 0 5px 5px 0;
		}
	}

	#terms-groups{
		.terms-groups-group {
			/* Small devices (tablets, 768px and up) */
			@media (min-width: @screen-md-min) {
				display: table;
	    		width: 100%;	
			}
			font-size: 1.4em;
			.terms-groups-group-item {
				display: inline-block;
				width: 40px;
				@media (max-width: @screen-sm-min) {

				}
				@media (min-width: @screen-md-min) {
					display: table-cell;
					width: 40px;
				}
			}
			a {
				text-decoration: none;
			}
			.terms-groups-group-disabled {
				color: @gray-light;
			}
		}
	}

	.term-group {
		h2 {
			border-bottom: 1px solid @gray-light;
			padding-bottom: 10px;
		}
	}

	#terms-search-results {
		.term-group-terms {
			.term-collapsible {
				.term-name {
					padding-right: 20px;
				}
				.fa {
					margin-left: -20px;
					pointer-events: none;
				}
			}
		}
	}
}