.main-cms {
  .content-sections {
    img {
      .img-responsive();
    }

    .content-attachments {
    	font-size: 1em;
    	table {
			border: none !important;
    		tr {
    			border: none !important;
    			td {
	    			border: none !important;
	    			.fa {
	    				vertical-align: middle;
	    			}
	    			a {
	    				vertical-align: middle;
	    			}
    			}
    		}
    	}
    }
  }
}
