.main-cms {
  .content-sections {
    img {
      .img-responsive();
    }

    .field-name-scald-tags {
    	display: none;
    }

    .content-attachments {
    	margin-bottom: 10px;
    	table {
    		font-size: 1em !important;
    		table-layout: fixed;
        border: none !important;
        margin: 0;

    		tr {
    			border: none !important;
    			td:first-child {
    				width: 36px;
    			}
    			td {
	    			border: none !important;
	    			.fa {
	    				vertical-align: middle;
	    			}
	    			a {
	    				vertical-align: middle;
	    			}
    			}
    		}
    	}
    }

    .content-sections-section-contacts-contact {
        padding: 10px;
        border: 1px solid @gray-light;
        .content-sections-section-contacts-contact-head {
            .btn-toggle {
                position: absolute;
                font-size: 1.5em;
                top: 0;
                right: 20px;
            }

        }
    }
  }
}
