
.page-search-databases {
  .facet-filter {
    overflow: hidden;
    float: left;
    width:100%;
    border: 1px solid @gray-lighter;
    border-radius: @border-radius-small;
    margin-bottom: 20px;
    [class~='ubn-facet']:last-of-type {
      .ubn-facet-header {
        border-bottom: none;
      }
    }
  }

  .ubn-facet {
    .item-list {
      .ubn-facet-items {
        float:left;
        margin-bottom: 0;
        li {
          padding-bottom: 10px;
          &:last-child {
            padding-bottom: 0;
          }
        }
        a {
          .fa {
            font-size: .8em;
            color: @gray-dark;
          }
        }
      }
      display: none;
      &.expanded {
        display: block;
      }
    }

    &.ubn-facet-active-items {
      .ubn-facet-header {
        background: @brand-primary;
        color: #fff;
      }
      .fa {
        color: #fff;
      }

    }


    &.facetapi-facet-field-public-access {
      &.ubn-facet-checkbox-checked {
        .ubn-facet-header {
          background: @brand-primary;
          color: #fff;
        }
        .fa {
          color: #fff;
        }
      }
    }

    .ubn-facet-header {
      float: left;
      width: 100%;
      cursor: pointer;
      background: @gray-lighter;
      padding: 15px;
      border-bottom: 1px solid @gray-light;
      .ubn-facet-header-title {
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        float: left;
        margin-bottom: 0;
        font-size: 1em;
      }
      .ubn-facet-header-handle {
        float:right;
      }
    }

    &.facetapi-facet-field-public-access {
      .ubn-facet-header-handle {
        a {
          color: @gray-dark;
        }
      }
    }


    &.ubn-facet-or {
      .ubn-facet-items {
        margin-bottom: 10px;
        a {
          /*text-decoration: none;*/
          /*color: @gray-dark;*/
        }
      }
    }


    .ubn-facet-items {
      border-left: @gray-light;
      border-right: @gray-light;
      padding: 5px 10px;
      .ubn-facet-items-item-count {
        margin-left: 5px;
      }
    }

    &.ubn-facet-or {
      .leaf {
        span {
          margin-right: 5px;
        }
      }
    }
  }

  /* database shortcuts */
  .shortcuts-top {
    .center();
    ul {
      display: inline-block;
    }
    @media (max-width: @screen-xs-max) {
      ul {
        &.horizontal {
          li {
            float:none;
            display: block;
          }
        }
      }
    }
  }

  /* search input */
  .searchbar-top {
    margin-bottom: 40px;
    .submit-btn {
      &.btn {
        border-radius: 0 5px 5px 0;
      }

    }
    .form-autocomplete {
      height: 48px;
      border-radius: @border-radius-base 0 0 @border-radius-base;
      background: @gray-lighter;
    }
    .clear-search-btn {
      position: absolute;
      z-index: 100;
      top: 12px;
      right: 65px;
      color: @gray-dark;
      display: none;
    }

    #autocomplete {
      ul {
        li {
          padding-left:10px;
        }
      }
    }

  }


  .no-sidebar {
    .ubn-search-sorts {
      display: none;
    }
  }

  /* search result */
  .search-api-page-results {
    .no-result {
      font-size: 1.2em;
      color: @gray-light;
    }



    @media (max-width: @screen-xs-max) {
      .search-meta {
        text-align: center;
      }
    }

    .database-row {
     border-bottom: 1px solid @gray-light;
     padding-bottom: 20px;
     margin-bottom: 20px;

     .database-item {
       .database-item-link-title {
         font-size: 1.4em;
         margin-bottom: 10px;
       }
       .database-item-access-level {
          @media (min-width: @screen-sm-min) {
            float: right;
          }
       }
       .database-item-direct-link {
         margin-top: 10px;
         @media (min-width: @screen-sm-min) {
           margin-top : 0;
         }
         .fa {
           color: @gray-darker;
           display: inline;
           text-decoration: none;
           margin-left: 5px;
           vertical-align: middle;
         }
       }
     }
   }
    .search-results {
      padding-left: 0px;
      margin-top: 20px;
    }
    .search-info {
      display: none;
    }
  }
}





.ubn-search-sorts {
  float: right;
  @media (max-width: @screen-xs-max) {
    display:none;
  }

}

/* ### database post ### */
.node-type-database {
  .database-abstract {
    border-bottom: 1px solid @gray-light;
  }
  .database-links {
    margin-bottom: 20px;
      .database-links-link {
      }
      .database-links-info {
        font-size: .8em;
      }
  }

  .database-properties {
    .database-property {
      margin-top:10px;
      .database-property-header {
        font-weight: bold;
      }
    }
  }

}
