.main-cms {
  .blurb-primary {
    position: relative;
    .blurb-primary-teaser {
      position: absolute;
      left: 40px;
      bottom: 40px;
      //TODO: just placehodler values, replace with proper styles:
      color: #eee;
      text-decoration: none;
    }
  }
}
