.main-cms {
  .blurb-primary-wrapper {
    position: relative;
    // &:extend(.clearfix all);
    .blurb-primary-header {
      //TODO: just placehodler values, replace with proper bs-styles:
      position: absolute;
      left: 20px;
      bottom: 40px;
      a {
        color: #eee;
        text-decoration: none;
      }
    }
  }
}
