.start-page-opening-hours-wrapper{
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;

	h2{
		font-size: 22px;
		font-family: "Open Sans", Arial, sans-serif;
		@media (max-width: 767px){
			font-size: 19px;
		}
	}
}
