.main-cms {
  .ubn-library-name-link {
    font-size: 16px;
    display: inline-block;
    padding-right: 34px;
    &::after{
    	font-family: "FontAwesome"; 
    	content: "\f061";
	    position: relative;
	    top: -2px;
	    margin-left: 8px;
	    display: inline-block;
	    font-size: 12px;
      width: 24px;
      margin-right: -34px;

    }
    @media(max-width: 767px){
      margin-bottom:16px;
    }
  }

  .faculty-name{
    margin-top: 14px;

  }

  .libraries-list-item-opening-hours-label{
    font-weight: bold;
  }
}
