.main-cms {
  .ubn-library-name-link {
    font-size: 16px;
    position: relative;
    .fa {
      position: absolute;
      display: inline-block;
      font-size: 12px;
      text-decoration: none;
      margin-left: 5px;
      margin-top: 8px;
    }
    @media(max-width: 767px){
      margin-bottom:16px;
    }
  }

  .faculty-name{
    margin-top: 14px;

  }

  .libraries-list-item-opening-hours-label{
    font-weight: bold;
  }
}
