  //@boxes-min-height: 200px;
  //@boxes-min-height-extended: 230px;
  //@inner-wrapper-min-height: 160px;
  //@inner-wrapper-min-height-extended: 190px;

/* General: */
.ubn-panel-links-body-link {
  margin-bottom: 10px;
}

/* Link panels context: */
.ubn-panel-links {
  padding: 20px;
  border: 1px solid @gray-light;
  margin-bottom: 20px;
  &.no-padding {
    padding: 0;
  }
  .ubn-panel-links-inner-wrapper {
    border-left: 6px @brand-primary solid;
    padding-left: 20px;
    margin: 20px 20px 20px 0;
  }
  .ubn-panel-links-head {
    &:extend(.clearfix all);
    .ubn-panel-links-head-title {
      float: left;
    }
  }

  .ubn-panel-links-body {
    ul {
      margin-bottom: 5px;
      li {
        .fa {
          min-width: 20px;
          margin-top: 5px;
        }
        .ubn-panel-links-body-link {
          display: inline-block;
        }
        .file-meta-data {
          white-space: nowrap;
        }
      }
    }
  }

  //&.extended {
  //  min-height: @boxes-min-height-extended;
  //  .ubn-panel-links-inner-wrapper {
  //    min-height: @inner-wrapper-min-height-extended;
  //  }
  //}

}

/* (Partly) Collapsible behaviour */
/* TODO: possible to use boostraps collaspible? Probably not worth the effort */
.ubn-panel-links.collapsed ul.ubn-panel-links-link-list {
  @media (max-width: @screen-xs-max) {
    li {
      display: none;
    }
  }
  @media (min-width: @screen-xs-min) {
    li:nth-child(n + 6) {
      display: none;
    }
  }
  @media (max-width: @screen-xs-max) {
    margin-bottom: 0;
  }
}
