@boxes-min-height: 200px;
//@boxes-min-height-extended: 230px;
@inner-wrapper-min-height: 160px;
//@inner-wrapper-min-height-extended: 190px;

/* General: */
.ubn-panel-links-body-link {
  margin-bottom: 10px;
}

/* Link panels context: */
.ubn-panel-links {
  padding: 20px;
  border: 1px solid @ub-border-grey;
  border-radius: 3px;

  margin-bottom: 20px;

  @media (max-width: @screen-sm-max) { 
  //  margin-bottom: 0;
  }


  &.min-height {
    min-height: @boxes-min-height;
  }
  &.promoted {
    padding: 0;
    display: flex;
    flex-direction: column;
    .ubn-panel-links-inner-wrapper {
      flex: 1;
      min-height: @inner-wrapper-min-height;
      border-left: 6px @brand-primary solid;
      padding-left: 20px;
      margin: 20px 20px 20px 0;
    }
  }

  .ubn-panel-links-head {
    &:extend(.clearfix all);
    .ubn-panel-links-head-title {
      float: left;
    }
  }

  .ubn-panel-links-body {
    ul {
      margin-bottom: 5px;
      li {
        .fa {
          position: absolute;
          margin-top: 5px;
        }
        .ubn-panel-links-body-link.icon {
          margin-left: 20px;
        }
        .file-meta-data {
          white-space: nowrap;
        }
      }
    }
  }

  .blurb-navigation-show-more {
    margin-top: 20px;
  }

  .blurb-navigation-show-more-count {
    display: none;
  }

  .ubn-panel-links-body ul {
    @media (max-width: @screen-sm-max) {
      li {
        //display: none;
        visibility: visible;
        opacity: 1;
        height: auto;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
      }
    }
    @media (min-width: @screen-sm-max) {
      li:nth-child(n + 4) {
        visibility: visible;
        opacity: 1;
        height: auto;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
      }
    }
  }


  &.collapsed {
    .blurb-navigation-show-more {
      margin-top: 0;
    }
    .blurb-navigation-show-more-count {
      display: inline;
    }
    .ubn-panel-links-body ul {
      @media (max-width: @screen-sm-max) {
        li {
          visibility: hidden;
          opacity: 0;
          height: 0;
          transition: opacity .25s ease-in-out;
          -moz-transition: opacity .25s ease-in-out;
          -webkit-transition: opacity .25s ease-in-out;
        }
      }
      @media (min-width: @screen-sm-max) {
        li:nth-child(n + 4) {
          visibility: hidden;
          opacity: 0;
          height: 0;
          transition: opacity .25s ease-in-out;
          -moz-transition: opacity .25s ease-in-out;
          -webkit-transition: opacity .25s ease-in-out;
        }
      }
    }
  }
}

  //&.extended {
  //  min-height: @boxes-min-height-extended;
  //  .ubn-panel-links-inner-wrapper {
  //    min-height: @inner-wrapper-min-height-extended;
  //  }
  //}


/* (Partly) Collapsible behaviour */
/* TODO: possible to use boostraps collaspible? Probably not worth the effort */
