@boxes-min-height: 200px;
//@boxes-min-height-extended: 230px;
@inner-wrapper-min-height: 160px;
//@inner-wrapper-min-height-extended: 190px;

/* General: */
.ubn-panel-links-body-link {
  margin-bottom: 10px;
}

/* Link panels context: */
.ubn-panel-links {
  &.min-height {
    min-height: @boxes-min-height;
    .ubn-panel-links-inner-wrapper {
      min-height: @inner-wrapper-min-height;
    }
  }

  padding: 20px;
  border: 1px solid @gray-light;
  margin-bottom: 20px;
  &.no-padding {
    padding: 0;
  }
  .ubn-panel-links-inner-wrapper {
    border-left: 6px @brand-primary solid;
    padding-left: 20px;
    margin: 20px 20px 20px 0;
  }
  .ubn-panel-links-head {
    &:extend(.clearfix all);
    .ubn-panel-links-head-title {
      float: left;
    }
  }

  .ubn-panel-links-body {
    ul {
      margin-bottom: 5px;
      li {
        .fa {
          position: absolute;
          margin-top: 5px;
        }
        .ubn-panel-links-body-link.icon {
          margin-left: 20px;
        }
        .file-meta-data {
          white-space: nowrap;
        }
      }
    }
  }

  .blurb-navigation-show-more {
    margin-top: 10px;
  }

  .blurb-navigation-show-more-count {
    display: none;
  }

  &.collapsed {
    .blurb-navigation-show-more-count {
      display: inline;
    }
    .ubn-panel-links-body ul {
      @media (max-width: @screen-xs-max) {
        li:nth-child(n + 4) {
          display: none;
        }
      }
      @media (min-width: @screen-xs-min) {
        li:nth-child(n + 6) {
          display: none;
        }
      }
    }
  }
}

  //&.extended {
  //  min-height: @boxes-min-height-extended;
  //  .ubn-panel-links-inner-wrapper {
  //    min-height: @inner-wrapper-min-height-extended;
  //  }
  //}


/* (Partly) Collapsible behaviour */
/* TODO: possible to use boostraps collaspible? Probably not worth the effort */
