.ub-list-of-links {
	li {
		&:first-child {
			border-top: 1px solid @gray-lighter;
		}
		padding: 10px 0;
		border-bottom: 1px solid @gray-lighter;
	}
	a {
		color: @gray-dark;
		&:hover {
			color: @brand-primary;
		}
		.fa {
			color: @brand-primary;
		}
	}
}	

