.main-nav-cms {
	border-bottom: 1px solid #ccc;
	.nav-primary {
    .clearfix();
		@media (min-width: @screen-sm-min) {
			margin-top: -20px;
		}

    .ubn-menu-level-top {
      .clearfix();
      .menu {
        .pull-right();
        li {
          margin-left: 10px;
        }
      }
    }

    .ubn-menu-level-bottom .menu {
			li {
				margin-right: 10px;
        .fa {
          margin-left: 1px;
        }
      }
    }

    .menu-trail {
      .clearfix();
      .list-unstyled();
      li {
        float: left;
        margin-right: 10px;
        .fa {
          margin-left: 10px;
        }
      }
      margin-bottom: 10px;
    }

		.menu {
      .clearfix();
			font-family: NimbusSanNovCon-Med, "Arial Narrow", Arial, sans-serif;
			.list-unstyled();
			li {
				float: left;
			}

      li.active-trail a {
				text-decoration: underline;
      }
			a {
				text-decoration: none;
				text-transform: uppercase;
				color: @gray-darker;
				font-size: 1.125em;
			}
		}
	}
}
