.main-cms {
  // Remove?
  @boxes-min-height: 180px;

  .mixin-indicator {
    font-size: 12px;
    color: @ub-link-color;
    /*float: right;*/
  }

  /* ubn-panel-links  overrides */
  .ubn-panel-links {
    &.shortcuts {
      background: #fbfbfb;
      .shortcuts-head {
        .shortcuts-head-title {
          h2 {
            font-size: 18px;
          }
        }
      }
      .shortcuts-body {
        .shortcuts-link-list {
          .shortcuts-body-link {
            a {
              &::after  {
                font-family: "FontAwesome";
                //font-weight: 900;
                content: "\f061";
                position: relative;
                top: -2px;
                left: 8px;
                display: inline-block;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }



  /* theme-link box */
  .ubn-theme-links {
    margin-bottom: 10px;
    &.primary {
      .ubn-theme-links-item {
        &:hover {
          background: #FBFBFB;
        }
      }
    }
    .ubn-theme-links-item {
      &:hover {
        cursor: pointer;
        a {
          text-decoration: underline;
        }
      }
      min-height: @boxes-min-height;
      &:extend(.clearfix all);
    }
    &.secondary {
      .ubn-theme-links-item {
        min-height: initial;
        margin-bottom: 10px;
        border: none;
      }
      .ubn-theme-links-item-head {
        margin-bottom: 10px;
        .ubn-theme-links-item-head-indicator {
          display: none;
        }
      }
    }

    .ubn-theme-links-item-head {
      &:extend(.clearfix all);
      margin-bottom: 10px;

      .ubn-theme-links-item-head-link {
        float: left;
        h2 {
          font-size: 18px;
          &.secondary {
            font-size: 16px;
          }
          a {
            position: relative;
            .fa {
              position: absolute;
              display: inline-block;
              font-size: 12px;
              text-decoration: none;
              margin-left: 5px;
              margin-top: 7px;
            }
          }

        }
        
      }
      .ubn-theme-links-item-head-indicator {
        .mixin-indicator();
        .fa{
          margin-left:8px;
          margin-top: 5px;
        }
      }

      .ubn-theme-links-item-body {
        float: left;
      }
    }
  }
}
