.main-cms {
  @boxes-min-height: 230px;
  .mixin-primary {
    border: 1px solid @gray-light;
    border-radius: @border-radius-small;
  }

  .mixin-indicator {
    font-size: 1.2em;
    float: right;
  }

  .mixin-head {
    .clearfix();
    border-bottom: 1px solid @gray-lighter;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 1.4em;
  }


  /* find fast box */
  .ubn-find-fast {
    padding: 15px;
    min-height: @boxes-min-height;
    .mixin-primary();
    margin-bottom: 20px;
    .ubn-find-fast-head {
      .mixin-head();
      .ubn-find-fast-head-title {
        float: left;

      }
      .ubn-find-fast-indicator {
        .mixin-indicator();
      }
    }

    .ubn-find-fast-body {
      ul {
        margin-bottom: 5px;
        li {
          padding-bottom: 10px;
          .fa {
            margin-right: 5px;
          }
        }
      }
    }
  }


  /* theme-link box */
  .ubn-theme-links {

    &.primary {
      .ubn-theme-links-item {
        .mixin-primary();
      }
    }
    .ubn-theme-links-item {
      min-height: @boxes-min-height;
      padding: 15px;
      margin-bottom: 20px;
      .clearfix();
    }
    .ubn-theme-links-item-head {
      .mixin-head();

      .ubn-theme-links-item-head-link {
        float: left;
        width: 90%;
      }
      .ubn-theme-links-item-head-indicator {
        .mixin-indicator();
        width: 10%;
      }

      .ubn-theme-links-item-body {
        float: left;
      }
    }
  }
}
