{# slate
  name = Dictionary Term: View mode 'secondary'
  models[dictionary_term] = entity:node
  view_mode[node][dictionary_term] = secondary
#}
{{ t('See <a href="#@anchor">@term</a>', {'@anchor': ubn_dictionary_get_html_id(dictionary_term.label), '@term': dictionary_term.label}) | raw }}
