{# slate
  name = Guide: Table of Contents.
  models[tree] = item
  models[root] = item
#}

<div class="guide">
	<div class="guide-table-of-contents">
		<div class="guide-table-of-contents-title"><a href="{{ root.url }}" {{ root.active ? 'class="active"' : '' }}>{{ root.label }}</a></div>
		{{ tree | raw }}
	</div>
</div>
