{# slate
  name = Guide Chapter: View mode 'Full content'
  models[guide_chapter] = entity:node
  view_mode[node][guide_chapter] = full
#}
<div class="guide">
	<div class="guide-content">
		<h2>{{ guide_chapter.label }}</h2>
		{{ guide_chapter.field_guide_chapter_body.value | raw }}
	</div>
</div>