{# slate
  name = Guide: View mode 'Full content'
  models[guide] = entity:node
  view_mode[node][guide] = full
#}

<div class="guide">
	<div class="guide-content">
		<h2>{{ guide.label }}</h2>
		{{ guide.field_guide_lead.value | raw }}
		{{ guide.field_guide_body.value | raw }}
	</div>
</div>


