{# slate
  name = Library: Library Map
  models[map] = item
  models[libraries] = item
#}

<select class="form-control">
	{% for library in libraries %}
	   <option><a href="{{ library.url }}">{{ library.label }}</a></option>
	{% endfor %}
</select>
{{ map | raw }}