{# slate
  name = Library: Library Map
  models[map] = item
  models[libraries] = item
#}


<div class="library-map">
	<div class="header">
		<div class="links">
			<select class="form-control">
				{% for library in libraries %}
				   <option><a href="{{ library.url }}">{{ library.label }}</a></option>
				{% endfor %}
			</select>
		</div>
	</div>
	{{ map | raw }}
</div>