{# slate
  name = Page: View mode 'Full content'
  models[page] = entity:node
  view_mode[node][page] = full
#}
<div class="page">
    <div class="page-content">
        {% if page.field_page_lead %}
		<p class="lead">
			{{ page.field_page_lead | raw }}
		</p>
        {% endif %}
        {% if page.field_page_body %}
		    {{ page.field_page_body | raw }}
        {% endif %}
    </div>
</div>
