{# slate
  name = Nuxeo search
  models[resultlist] = item
#}
  


<h1>Här är våran lista</h1>
<ul>
{% for item in resultlist %}
    <li><a href="{{ item.url }}">{{ item.filename }}</a> {{ item.author }} {{ item.size }}</li>
{% endfor %}
</ul>