{# slate
  name = Nuxeo search
  models[resultlist] = item
#}



<div class="search-nuxeo">
    <section class="search-area">
        <form class="search-nuxeo-form" method="get" action="" >
            <input class="form-control" name="query" type="search" placeholder="Sök efter allt..">   
            </input>
            <button type="submit" class="btn btn-primary">Sök</button>
        </form>
    </section>

    <section class="result-area">
        <div class="wrap">
            <ul class="result-list">
            {% for item in resultlist %}
                <li>
                    <div class="filename">
                        <a href="#">{{ item.title }}</a>
                    </div>
                    <div class="last-modified">
                        Last modified: {{item.lastModified}}
                    </div>
                    <div class="toolkit">
                        <a target="_blank" href="{{'https://doku.ub.gu.se/' ~  item.contextParameters.documentURL}}"><i class="fa fa-download"></i>Ladda ner</a>
                    </div>

                </li>
            {% endfor %}
            </ul>
        </div>
    </section>
</div>

