{# slate
  name = Front page blurbs (wrapper)
  models[blurbs] = item
#}
<div id="front-page-blurbs" class="row panel-separator">
	<div class="col-xs-12">
    	<h2 class="small header-list no-top-margin blurbs-header">Aktuellt</h2>
	</div>
  {{ blurbs|raw }}
</div>
