{# slate
  name = Front page navigation blurbs (wrapper)
  models[blurbs] = item
#}
<div id="front-page-navigatin-blurbs" class="row panel-separator">
  <div class="col-xs-12">
    <h2 class="h1 small no-top-margin">{{ t('On the website') ~ ':' }}</h2>
  </div>
  {{ blurbs|raw }}
</div>
