{# slate
  name = UBN menu: main-menu
  models[menu_top_level] = item
  models[menu_trail] = item
  models[menu_bottom_level] = item
#}
<div class="ubn-menu">
  <div class="ubn-menu-level ubn-menu-level-top">
    {{ menu_top_level|raw }}
  </div>
  {% if not menu_trail is empty %}
    <div class="ubn-menu-trails">
    {% for menu in menu_trail %}
      <div class="ubn-menu-level ubn-menu-trail">
        {{ menu|raw }}
      </div>
    {% endfor %}
    </div>
  {% endif %}
  {% if not menu_bottom_level is empty %}
    <div class="ubn-menu-level ubn-menu-level-bottom">
      {{ menu_bottom_level|raw }}
    </div>
  {% endif %}
</div>
