{# slate
  name = Beta indicator: indicator for the beta site
  cacheable = FALSE
#}


<div class="beta-indicator-wrapper">
		<div class="beta-indicator center">
			{{ check_markup(variable_get('beta_info', NULL)['value'], variable_get('beta_info', NULL)['format'], '', TRUE)|raw }}
		</div>
	</div>
</div>

