{# slate
  name = Blurb: View mode 'UBN Blurb'
  models[entity] = entity:node
  view_mode[node][blurb] = ubn_blurb
#}
{% import "macros/atom_styles.html.twig" as atom_styles %}
{% import "macros/misc.html.twig" as misc %}
<div class="blurb panel-separator col-sm-6">
	<div class="blurb-wrapper">
  <div class="blurb-image">
    {{ atom_styles.blurb(entity.field_image_atom, 'front-page-blurb-placeholder-todo.png') }}
  </div>

  <div class="story-promoted-text-wrapper">
		<div class="story-promoted-container">
			<div class="story-promoted-text">
					<h2 class="blurb-header list primary">{{ misc.link(entity.title.value, entity.field_link.url.value) }}</h2>
				</div>
				<i class="story-arrow fa fa-arrow-right"></i>
		</div>
	</div>
</div>
 
  
</div>
