{# slate
  name = Blurb: View mode 'UBN Blurb navigation'
  models[entity] = entity:node
  view_mode[node][navigation_landing] = ubn_blurb_navigation
#}
{% import "macros/misc.html.twig" as misc %}
{% import "macros/panel-links.html.twig" as pane %}
<div class="col-xs-12 col-sm-3">
  {{ pane.link_list(l(entity.title.value, entity.url.value), entity.field_theme_link, false, 'blurb-navigation', true) }}
</div>
