{# slate
  name = Blurb: View mode 'UBN Blurb navigation'
  models[entity] = entity:node
  view_mode[node][navigation_landing] = ubn_blurb_navigation
#}
{% import "macros/misc.html.twig" as misc %}
{% import "macros/panel-links.html.twig" as pane %}
<div class="col-xs-12 col-sm-6 col-md-4 ubn-blurb-navigation">
  {{
    pane.link_list(
      l(entity.title.value ~ ' <i class="fa fa-arrow-right" aria-hidden="true"></i>', entity.url.value, { 'html': true }) ,
      entity.value.ubn_menu_children,
      'blurb-navigation',
      { 'hide_icon': true, 'header_level': 3 }
    )
  }}
</div>
