{# slate
  name = Page: content sections
  models[page] = entity:node
#}
{% import "macros/misc.html.twig" as misc %}
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
	  		{{ misc.content_sections(page.field_content_sections) }}
	  	</div>
  	</div>
</div>
