{# slate
  name = Page: content sections
  models[page] = entity:node
#}
{% import "macros/misc.html.twig" as misc %}

{% if not page.field_content_sections is empty %}
<div class="row ub-panel-separator content-sections">
	<div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
	  {{ misc.content_sections(page.field_content_sections) }}
	</div>
</div>
{% endif %}
