{# slate
  name = database search filter
#}

<h2>filter</h2>

<div id="database-filter-widget">
  <ul>
    <li class="expanded parent-link"><a href="javascript:void();">Parent 1</a></li>
    <li>
      <ul class="simulate-checkbox">
        <li class="active"><a href="#">child 1</a></li>
        <li><a href="#">child 2</a></li>
        <li><a href="#">child 3</a></li>
      </ul>
    </li>
    <li class="collapsed parent-link"><a href="#">Parent 2</a></li>
    <li>
      <ul>
        <li class="active"><a href="#">child 2:1</a></li>
        <li><a href="#">child 2:1</a></li>
        <li class="active"><a href="#">child 2:1</a></li>
        <li><a href="#">child 2:1</a></li>
        <li><a href="#">child 2:1</a></li>
      </ul>
    </li>
  </ul>
</div>
