{# slate
  name = Database shortcut: item
  models[database] = entity:node
#}

{% import "macros/database-url.html.twig" as helper %}
<a href="{{database.field_database_urls[0].field_url.url.value}}">{{database.title}}</a>
