{# slate
  name = UBN 404: Custom error page
  models[conf] = item
#}

<div class="container">
<h1>{{ conf.ubn_i18n.title }}</h1>
	<div class="row">
		<div class="col-xs-12">
			<h3>{{ conf.ubn_i18n.message }}</h3>
			<p>
				<a href="{{ ubnext_get_base_url() | raw }}">{{ conf.ubn_i18n.front_page_link_text }}</a>
			</p>
		</div>
	</div>
</div>
