{# slate
  name = Footer 
#}

<footer id="footer" class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4">
			{{check_markup(variable_get('footer_col1', NULL)['value'], variable_get('footer_col1', NULL)['format']) | raw}}	
		</div>
		<div class="col-sm-6 col-md-8">
			<div class="row">
				<div class="col-md-6">
					{{check_markup(variable_get('footer_col2', NULL)['value'], variable_get('footer_col2', NULL)['format']) | raw}}	
				</div>
				<div class="col-md-6">
					{{check_markup(variable_get('footer_col3', NULL)['value'], variable_get('footer_col3', NULL)['format']) | raw}}	
				</div>
			</div>
		</div>
	</div>
</footer>