{# slate
  name = Hero image: the hero image displayed on a page
  models[library] = entity:node
#}
{% import "macros/misc.html.twig" as misc %}

<div class="panel-separator">
  {% if library.field_image_atom.value %}
    <div class="hero-image img-responsive-wrapper">
      {{ misc.media_atom(library.field_image_atom, 'hero_area') }}
    </div>
  {% endif %}
</div>
