{# slate
  name = Hero image: the hero image displayed on a page
  models[library] = entity:node
#}
{% import "macros/atom_styles.html.twig" as atom_styles %}

<div class="panel-separator">
  {% if not library.field_image_atom is empty %}
    {{ atom_styles.hero(library.field_image_atom) }}
  {% endif %}
</div>
