{# slate
  name = Library map
  type = gmap_tools_slate_gmap
  models[id] = item
  models[title] = item
#}

<div class="panel-separator row">
	 <h2 class="col-sm-offset-2">{{t('Contact ')}} {{ title }}</h2>
	<div class="col-xs-12 rs_preserve rs_skip">
   		<div id="{{ id }}" class="ubn-map-sm">{{ t("Loading map") }}</div>
	</div>
</div>
