{# slate
  name = Library map
  type = gmap_tools_slate_gmap
  models[id] = item
#}

<div class="ub-panel-separator">
	<div id="{{ id }}" class="col-xs-12 ubn-map-sm">{{ t("Loading map") }}</div>
</div>
