{# slate
  name = Libraries map
  type = gmap_tools_slate_gmap
  models[id] = item
#}

<div class="container">
	<div class="row">
		<h2>{{t('Find our libraries')}}</h2>
	  <div id="{{ id }}" class="col-xs-12 ubn-map-md">{{ t("Loading map") }}</div>
	</div>
</div>