{# slate
  name = Libraries map
  type = gmap_tools_slate_gmap
  models[id] = item
#}
	
<div class="container"><h2>{{t('Find our libraries')}}</h2></div>
<div class="container fullwidth-on-xs ub-panel-separator">
  	<div id="{{ id }}" class="ubn-map-md">{{ t("Loading map") }}</div>
</div>