{# slate
  name = Library map
  type = gmap_tools_slate_gmap
  models[id] = item
#}
<div class="row">
  <div id="{{ id }}" class="col-sm-8 col-sm-offset-2 ubn-map-sm">{{ t("Loading map") }}</div>
</div>
