{# slate
  name = Library opening hours banner
  models[library] = entity:node
#}

<div class="row library-opening-hours-banner panel-separator">
 <a href="#library-opening-hours-header" class="show-more-hours-link" data-location="#library-opening-hours-header">
  {% for opening_hours in ubn_opening_hours_items(library.field_opening_hours, [t('Today'), t('Tomorrow')]) %}
    <div class="{% if loop.index == 1 %}col-md-offset-2 col-xs-offset-0 {% endif %}col-sm-5 col-md-3 col-xs-12 library-opening-hours-banner-item center">
      
      <div class="{{ 'library-opening-hours-banner-' ~ drupal_html_class(opening_hours.weekday) }}">
        <div class="library-opening-hours-banner-label">{{ t("Open !weekday", {'!weekday' : drupal_strtolower(opening_hours.weekday)}) ~ ':' }}</div>
          <div class="library-opening-hours-banner-hours">{{ opening_hours.hours }}</div>
        </div>
      </div>
      {% if loop.index == 1 %}
        <div class="col-sm-2 library-opening-hours-banner-indicator">{{ t('More hours') }}<i class="fa fa-arrow-down"></i></div>
      {% endif %}
  {% endfor %}
  </a>
</div>
