  {# slate
  name = Libraries map
  type = gmap_tools_slate_gmap
  models[id] = item
#}

<h2 class="col-sm-offset-2 col-lg-offset-3">{{t('Find our libraries')}}</h2>
<div class="panel-separator rs_preserve rs_skip">
  <div id="{{ id }}" class="ubn-map-md">{{ t("Loading map") }}</div>
</div>
