{# slate
  name = Library map
  type = gmap_tools_slate_gmap
  models[id] = item
#}

<div class="panel-separator row">	
	<div class="col-xs-12">
		<div id="{{ id }}" class="ubn-map-sm">{{ t("Loading map") }}</div>
	</div>
</div>
