{# slate
  name = Library opening hours banner
  models[library] = entity:node
#}
<div class="container library-opening-hours-banner">
  <div class="row">
        {% for opening_hours in ubn_opening_hours_items(library.field_referenced_opening_hours, [t('Today'), t('Tomorrow')]) %}
          <div class="col-xs-12 col-sm-6 center">
            <div class="library-opening-hours-banner-item">
              <div class="{{ 'library-opening-hours-banner-' ~ drupal_html_class(opening_hours.weekday) }}">
                <div class="library-opening-hours-banner-label">{{ t("Open !weekday", {'!weekday' : drupal_strtolower(opening_hours.weekday)}) ~ ':' }}</div>
                <div class="library-opening-hours-banner-hours">{{ opening_hours.hours }}</div>
              </div>
            </div>
          </div>
        {% endfor %}  
  </div>
</div>