{# slate
  name = Library: item
  models[library] = entity:node
#}


<div class="row vertical-align">
  <div class="col-xs-7 col-sm-8">
   <a href="{{library.url.value}}"> {{library.title}}</a>
  </div>
  <div class="col-xs-5 col-sm-4">
    <div class="pull-right">
      {% set opening_hours_today = ubn_opening_hours_items(library.field_opening_hours, [t("Today")])|first %}
      {{ opening_hours_today.hours }}
    </div>
  </div>
</div>

