{# slate
  name = Page head: for content pages
  models[page] = entity:node
  conf[show_date][label] = Show creation date
  conf[show_date][type] = bool
#}
{% import "macros/components.html.twig" as components %}
<section>
	<div class="row ub-panel-separator">
    {{ components.page_head(page.title_field.value, page.field_lead.value, conf.show_date ? page.created.value) }}
	</div>
</section>
