{# slate
  name = Screen reader: link
#}
<ul>
  <li><a class="rsbtn_play" rel="nofollow" accesskey="L" title="{{t("Listen to the page content")}}" href="javascript:alert('To be implemented')" data-rsevent-id="rs_139679" role="button"><span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>{{t('Listen')}}</span></span></span><span class="rsbtn_right rsimg rsplay rspart"></span></a></li>
</ul>