{# slate
    name = Search-widget
#}

<div id="search-widget">
	<h1>Sök bland 152 322 434 böcker, artiklar, tidskrifter mm...</h1>
	<div class="input-group">
	  <input type="text" class="form-control" placeholder="Search for...">
	  <span class="input-group-btn">
	    <button class="btn btn-primary" type="button">{{t('Search')}} <i class="fa fa-search"></i></button>
	  </span>
</div><!-- /input-group -->
</div>
