{# slate
    name = Search-widget
    models[url] = item
    models[slogan] = item
    models[placeholder] = item
    models[aria_label] = item
#}

<div id="search-widget" class="panel-separator">
	<h1 class="slogan no-top-margin">{{ slogan | raw }}</h1>
	<form action="{{ url }}">
		<div class="input-group">
			<input type="text" name="q" class="form-control input-lg" aria-label="{{ aria_label }}" placeholder="{{ placeholder }}">
			<span class="input-group-btn">
			<button class="btn btn-lg btn-primary" type="submit"><i class="fa fa-search"></i></button>
			</span>
		</div><!-- /input-group -->
	</form>
</div>
