{# slate
  name = Static page head: header settings for static pages
  models[conf] = item
#}
{% import "macros/components.html.twig" as components %}
<div class="row panel-separator">
  {{ components.page_head(conf.ubn_i18n.title, conf.ubn_i18n.ingress, false) }}
</div>
