{# slate
  name = Static page header: header settings for static pages
  models[conf] = item
#}
{% import "macros/dates.html.twig" as dates %}
{% import "macros/components.html.twig" as components %}
<div class="container ub-panel-separator">
	<div class="row">
    {{ components.page_head(conf.ubn_i18n.title, conf.ubn_i18n.lead, false) }}
	</div>
</div>
