{# slate
  name = Story: View mode 'UBN News panes latest news'
  models[entity] = entity:node
  view_mode[node][story] = ubn_news_panes_latest_news
#}
{% import "macros/misc.html.twig" as misc %}
{% import "macros/dates.html.twig" as dates %}
<li class="latest-stories-widget-story story-teaser">
  	<div class="latest-stories-widget-story-publication-date story-teaser-publication-date date">{{ dates.date_day_and_month(entity.created) }}</div>
  	<div class="latest-stories-widget-story-header"><span class="story-teaser-header">{{ misc.link(entity.title.value, entity.url, 'latest-stories-widget-story-link') }}</span></div>
</li>
