{# slate
  name = Story: View mode 'UBN search result'
  models[entity] = entity:node
  view_mode[node][story] = ubn_search_result
#}
{% import "macros/dates.html.twig" as dates %}
{% import "macros/misc.html.twig" as misc %}
{% set story = entity %}
<li class="archive-story-teaser">
  <div class="archive-story-teaser-publication-date">{{ dates.date_day_and_month(story.created) }}</div>
  <div class="archive-story-teaser-header">{{ misc.link(story.title_field.value, story.url) }}</div>
</li>
