{# slate
  name = UBN menu: main-menu (bottom-level-dropdown)
  models[links] = item
#}
{% import "macros/menus.html.twig" as menus %}
<div class="ubn-mobile-menu">
    <ul class="menu menu-mobile">
      {% for link in links %}
        {{ menus.menu_item(link) }}
      {% endfor %}
      <li class="ubn-mobile-menu-lang-switch-block">
        {{ block_render('locale', 'language') | raw }}
      </li>
    </ul>
</div>
